<div class="edit_content_form hidden">
  <h2>Edit content for this page</h2>

  <%= form_for content, :url => cms_admin_cms_content_path(:id => content.id), :method => :put, :html => {:multipart => true} do |f| %>

    <p>
      Name : 
      <%= f.text_field :name %>
    </p>
    <%= render :partial => "cms_admin/cms_contents/#{content.class_name}/fields", :locals => { :f => f } %>
    <%= f.submit "Update" %>

  <% end%>
</div>