<% content_for :title, "global content" %>

<h1>CMS Admin : Global content</h1>


<%= content_for :content_list do %>
  <h2>Contents</h2>
  <% @contents.each do |content| %>
    <%= render content %>
  <% end %>
<% end %>

<%= content_for :content_edition do %>
  <%= render :partial => 'cms_admin/cms_contents/form', :locals => {:cms_content => @new_content}%>
<% end %>